langchain
langchain_community
langchain_huggingface
python-dotenv
tiktoken
faiss-cpu
langchain_experimental
mysql-connector-python
pymysql
sentence-transformers
chromadb
google-generativeai
google-ai-generativelanguage
